@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

html{
    font-size: 62.5%;  
}

*{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    padding: 0%;
}

/* inicia anuncio*/
.bgAnuncio{
    background-color: rgb(0, 0, 0);
    padding:5px;
}
.txtAnuncio{
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
}

/* termina anuncio */

/* inicia nav */
.imgNav{
    width:40% ;
    height:auto;

}
.bgNav{
    background-color: rgba(255, 235, 235,.6);
}
.botoneraNav ul li a{
 color: rgb(135,135,135);
 font-family: 'Poppins', sans-serif;
 font-size: 1.4rem;
 background-image: linear-gradient(currentcolor, currentcolor);
 background-position: 0% 100%;
 background-repeat: no-repeat;
 background-size: 0% 2px;
 transition: background-size .3s;
}
.botoneraNav ul li a:hover{
    color: black;
    font-weight: 600;
    background-size: 100% 2px;

}
/* termina nav */

/* inicia accesos directos */
h1{
color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

h2{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

h3{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

 h4{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem
}

.txtCenter{
    text-align: center;
}
.txtLeft{
    text-align: left;
}
.txtRight{
    text-align: right;
}

.txtBlack{
    text-decoration-color: black;
}

/*fin accesos directos */

/* header catalogo videos */
.headerCatalogo{
    height:auto;
    width:100%;
}
/* fin header catalogo videos */

/* contacto seccion */
.contenedorContacto{
width:30%;
padding: 6%;
margin-left: 30%;
 }

.formInput{
    width: 100%;
    padding: 1rem;
    border-radius: 10rem;
    margin-bottom: 16px;
    border:0.3rem solid rgb(255,235,235);
    font-size:1.2rem;
    
}

.formTexarea{
    width: 100%;
    padding: 1rem;
    border-radius: 10rem;
    margin-bottom: 1.6rem;
    border:3px solid rgb(255,235,235);
    font-size:1.2rem;

}

.inputBtn{
    width: 30%;
    padding: 1rem;
    border-radius: 10rem;
    margin-left: 32%;
    background-color: rgb(255,235,235);
    color: white;
    border:0.5rem solid rgb(255,235,235);
}

/*fin seccion de contacto */

/* titulos de las paginas*/
.tituloContacto{
color:rgb(0, 0, 0);
letter-spacing: 0.3rem;
background-color: rgb(208, 178, 236);
font-size: medium;
}

.tituloCatalogoMedias{
        color: bisque;
        background-color:rgb(113,113,105);
        letter-spacing: 4rem;
}

.tituloCatalogoKids{
        color: rgb(255,200,218);
        background-color:rgb(205,255,240);
        letter-spacing: 4rem;
}

.tituloCatalogoTemporada{
        color:rgb(252,254,253);
        background-color:rgb(167,184,213);
        letter-spacing: 4rem;
}

.tituloCatalogoBazar{
        color:rgb(219,239,92);
        background-color:rgb(161,166,148);
        letter-spacing: 4rem;
}

.tituloCatalogoAccesorios{
    color:rgb(255, 255, 255);
    background-color:rgb(93,107,136);
    letter-spacing: 0.5rem;

}

.tituloCatalogoInicio{
    color:rgb(135,137,138);
    background-color:rgb(255,235,235);
    letter-spacing: 0.5rem;
}
/*fin titulos*/ 

/* Destacados inicio*/
.containerDestacados .col-lg-4{
    padding: 25px;

}
.containerDestacados img{
width: 100%;
height: 350px;
margin: 1%;
margin-bottom: 1%; 
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
border-radius: 10px;
}
.containerDestacados img:hover{
    border: 5px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
/* suscripcion*/
.bgSup{
  background-color: rgb(211,211,211);
  padding: 12%;

}
.btnSus{
display: inline;
margin-left: 40%;
margin-top: 1%;
width: 20%;
border-radius: 100px;
background-color: rgb(255,235,235);
color: rgb(0, 0, 0);
border:0.5rem solid rgb(255,235,235);
font-weight: 800;
}

.btnSus:hover{
  background-color: rgb(255,235,235);
color: rgb(211,211,211);
transition-duration: 0.3s;
}

@media (max-width:768px){
  .btnSus{
    display: inline;
    margin-left: 41%;
    margin-top: 1%;
    width: 20%;
    border-radius: 100px;
    background-color: rgb(255,235,235);
    color: rgb(0, 0, 0);
    border:0.5rem solid rgb(255,235,235);
    font-weight: 800;
    font-size:0.8rem;
    }
  
    .btnSus:hover{
    background-color: rgb(255,235,235);
  color: rgb(211,211,211);
  transition-duration: 0.3s;
  }

}
/* fin suscripcion*/

/* Fin destacados*/

/* IniciaFooter*/
.footerSeccion {
    padding:50px 0;
    color:rgb(0, 0, 0);
    background-color:rgb(255, 235, 235);
}
  
  .footerSeccion h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:1.6rem;
}
  
  .footerSeccion ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:1.2rem;
    margin-bottom:0;
}
  
  .footerSeccion ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}
  
  .footerSeccion ul a:hover {
    opacity:2;
}
  
  @media (max-width:767px) {
    .footerSeccion .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
}
  
  .footerSeccion .item.text {
    margin-bottom:36px;
}
  
  @media (max-width:767px) {
    .footerSeccion .item.text {
      margin-bottom:0;
    }
}
  
  .footerSeccion .item.text p {
    opacity:0.6;
    margin-bottom:0;
}
  
  .footerSeccion .item.social {
    text-align:center;
}
  
  @media (max-width:991px) {
    .footerSeccion .item.social {
      text-align:center;
      margin-top:20px;
    }
}
  
  .footerSeccion .item.social > a {
    font-size:2rem;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}
  
  .footerSeccion .item.social > a:hover {
    opacity:0.9;
}
  
  .footerSeccion .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:1.3rem;
    margin-bottom:0;
}
.footerArg{
    font-weight:600;
    font-size: small;
}
  /* TerminaFooter*/

/* media inicio */
  @media(min-width:768px){

    .tituloCatalogoInicio{
        color:rgb(135,137,138);
        background-color:rgb(255,235,235);
        font-size: x-large;
        letter-spacing: 4rem;
    
    }

    .tituloCatalogoAccesorios{
      color:rgb(255, 255, 255);
      background-color:rgb(93,107,136);
      letter-spacing: 4rem;
  
  }
}

/*ubicacion iframe*/
.tamañoMapa{
  width:100% ;
}
/*fin ubicacion iframe*/

/* catalogo */

.containerCatalogo .col-lg-4{
  padding: 20px;
}
.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImage img {
  height:350PX;
  width: 100%;
  border-radius: 8px 8px 0px 0;
}

.cardAction {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #E26D5C;
  background: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.cardAction:hover {
  color: #fff;
  background: #E26D5C;
  -webkit-animation: pulse 1.5s infinite;
}

.cardHeading {
  font-size: 18px;
  font-weight: bold;
  background:rgb(233,233,233);
  padding: 10px 15px;
}

.cardText {
  padding: 10px 15px;
  background: rgb(233,233,233);
  font-size: 14px;
  color: #636262;
}

.cardButton {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: rgb(255,235,235);
  color: rgb(0, 0, 0);
  border-radius: 0 0 8px 8px;
}

.cardButton:hover {
  text-decoration: none;
  background-color:rgb(208,178,236);
  color: #fff;

}


@-webkit-keyframes pulse {
  0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
  }

  70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
