@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

$fontPrimary:'Poppins', sans-serif;

//Fontsize

$textSm:0.8rem;

$textMd:1.2rem;

$textXl:1.4rem;

$textXxl:1.6rem;

$textSuperXxl:1.8rem;

//fontWeight

$textRegular:400;

$textLight:600;

$textBold:800;
