$colors: (
    background1: rgb(255,235,235),
    background2:rgb(0, 0, 0),
    backgroundAnuncio:rgb(0,0,0),
    colorTxtAnuncio: rgb(255, 255, 255),
    colorBotonera: rgb(54,54,54),
    colorCatalogo:rgb(255, 228, 196),
    FondoBlanco:rgb(255, 255, 255),
    letrasBlancas:rgb(255,255,255),
    letrasNegras:rgb(0, 0, 0),
    backgroundSus:rgb(211,211,211),
    bgTituloInicio:rgb(255,235,235),
    bgTituloAccesorios:rgb(93,107,136),
    bgTituloBazar:rgb(161,166,148),
    bgTituloKids:rgb(205,255,240),
    bgTituloTemporada:rgb(167,184,213),
    bgTituloMedias:rgb(113,113,105),
    bgTituloContacto:rgb(208, 178, 236),
    coloTxtTituloInicio:rgb(135,137,138),
    coloTxTituloAccesorios:rgb(255, 255, 255),
    coloTxtTituloBazar:rgb(219,239,92),
    coloTxtTituloTemporada:rgb(252,254,253),
    coloTxtTituloContacto:rgb(0, 0, 0),
    coloTxtTituloMedias:rgb(255, 228, 196),
    coloTxtTituloKids:rgb(255,200,218),
)